<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Mahasiswa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form onload="validasiForm">
<div class="container">
    <h4 class="mb-3 mt-3">Detail Transaksi</h4>
    <table class = "table table-bordered table-striped table-hover">
        <tbody>
        <tr>
            <th scope="row">Pendapatan</th>
            <td th:text="${dompet.pendapatan}">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Pengeluaran</th>
            <td th:text="${dompet.pengeluaran}">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Tanggal</th>
            <td th:text="${dompet.tanggal}">&nbsp;</td>
        </tr>
        <tr>
            <th scope="row">Keterangan</th>
            <td th:text="${dompet.keterangan}">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary">Kembali</a>
</div>
</form>
</body>
<script>
    function removeElement() {
      document.getElementById("imgbox1").style.display = "none";
    }

    function changeVisibility() {
      document.getElementById("imgbox2").style.visibility = "hidden";
    }

    function resetElement() {
      document.getElementById("imgbox1").style.display = "block";
      document.getElementById("imgbox2").style.visibility = "visible";
    }
</script>
</html>