<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Manajemen Dompet</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Manajemen Dompet</h1>
    <hr>
    <h2>Pengeluaran</h2>

    <form action="#" th:action="@{/saveDompet}" th:object="${dompet}"
          method="POST" class="needs-validation" novalidate>
        <input type="hidden" th:field="*{id_dom}">
        <div class="form-group">
            <input type="number" min="0" class="form-control mb-4 col-4" id="pengeluaran" th:field="*{pengeluaran}" placeholder="Uang" required>
            <div class="invalid-feedback">
                Uang tidak boleh kosong dan harus angka.
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control mb-4 col-4" id="keterangan" th:field="*{keterangan}" placeholder="Keterangan" required>
            <div class="invalid-feedback">
                Keterangan tidak boleh kosong,
            </div>
        </div>

        <input hidden id="date" name="date" th:field="*{tanggal}">

<!--        <div class="form-group">-->
<!--            <select class="form-control mb-4 col-4" th:field="*{jenisTransaksi}">-->
<!--&lt;!&ndash;                <option value=""> &#45;&#45;&#45;&#45; Pilih Jenis &#45;&#45;&#45;&#45; </option>&ndash;&gt;-->
<!--                <option value="Pengeluaran">Pengeluaran</option>-->
<!--                <option value="Pendapatan">Pendapatan</option>-->
<!--            </select>-->
<!--            <div class="invalid-feedback">-->
<!--                Jenis transaksi tidak boleh kosong.-->
<!--            </div>-->
<!--        </div><br><br>-->

        <button type="submit" class="btn btn-info col-2"> Save Pengeluaran</button>
        <div th:if="${#fields.hasErrors('all')}">
            <div class="form-group">
                <div class="alert alert-warning alert-dismissible fade show">
                    <label th:errors="*{all}">xxx</label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <a th:href = "@{/}"> Back to Dompet List</a>
</div>

</body>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script type="text/javascript">
  document.getElementById('date').value = Date();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>